In [1]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import GridSearchCV
import numpy as np
import pandas as pd

In [2]:
# Load the car popularity train data
train_data = pd.read_csv("train.csv")
test_data=pd.read_csv("test.csv")

In [3]:
train_data

,buying_price,maintainence_cost,number_of_doors,number_of_seats,luggage_boot_size,safety_rating,popularity
0,3,2,4,2,2,2,1
1,3,2,2,5,2,1,1
2,1,4,2,5,1,3,1
3,4,4,2,2,1,2,1
4,3,3,3,4,3,3,2
5,2,1,2,2,1,1,1
6,1,3,5,2,2,2,1
7,3,1,2,4,3,2,2
8,1,1,3,5,2,1,1
9,2,1,4,2,2,2,1
10,3,1,3,2,1,1,1
11,3,2,3,4,3,2,2
12,4,3,5,4,1,1,1
13,1,2,2,5,2,3,3
14,2,4,2,2,3,1,1
15,4,3,4,2,2,3,1
16,4,1,3,5,3,2,2
17,3,2,3,5,3,2,2
18,3,3,3,2,3,3,1
19,1,3,4,2,2,2,1
20,4,3,4,5,2,2,1
21,4,4,4,2,1,1,1
22,3,1,2,5,1,1,1
23,2,3,5,5,2,1,1
24,4,4,5,4,2,3,1
25,1,4,4,2,3,2,1
26,4,1,5,2,2,1,1
27,3,3,4,5,1,1,1
28,1,3,3,2,3,3,1
29,4,3,5,2,1,3,1
...,...,...,...,...,...,...,...
1598,2,4,5,2,3,3,1
1599,1,1,2,4,1,1,1
1600,2,3,3,4,3,3,2
1601,2,3,4,4,3,2,2
1602,1,3,4,2,1,1,1
1603,4,2,4,4,1,2,1
1604,3,4,5,2,2,1,1
1605,3,4,5,2,1,2,1
1606,2,3,2,4,3,1,1
1607,2,3,3,5,1,2,1
1608,1,2,4,4,1,1,1
1609,4,3,2,5,1,3,1
1610,2,3,4,5,1,2,1
1611,1,1,3,5,1,3,3
1612,2,4,5,2,1,1,1
1613,2,3,5,4,3,2,2
1614,3,4,2,2,2,3,1
1615,2,1,3,5,3,1,1
1616,4,3,2,2,2,1,1
1617,1,2,4,2,2,3,1
1618,2,2,3,2,2,3,1
1619,4,1,5,5,3,1,1
1620,1,4,2,4,1,1,1
1621,4,2,5,4,2,2,2
1622,3,3,2,5,2,1,1
1623,2,4,3,5,3,2,2
1624,4,1,2,5,1,1,1
1625,4,1,4,4,1,2,1
1626,3,1,4,2,1,3,1
1627,3,4,3,2,1,3,1

In [4]:
test_data

,buying_price,maintainence_cost,number_of_doors,number_of_seats,luggage_boot_size,safety_rating
0,4,1,2,2,2,2
1,2,1,3,4,3,2
2,4,4,2,5,1,2
3,4,3,3,2,2,2
4,4,2,2,4,3,2
5,4,3,5,2,3,3
6,1,3,3,5,3,3
7,1,2,5,5,3,2
8,1,1,2,4,3,3
9,2,4,2,5,2,1
10,2,1,5,4,2,2
11,2,1,3,4,1,3
12,1,2,4,4,3,3
13,1,2,5,4,2,2
14,1,2,5,5,3,1
15,2,1,4,5,3,2
16,3,4,4,4,2,1
17,1,2,3,5,2,2
18,4,3,3,2,2,3
19,4,2,4,4,2,3
20,2,1,2,4,3,2
21,2,1,2,4,2,3
22,2,1,4,4,3,2
23,2,1,5,5,2,3
24,1,3,4,4,2,2
25,1,2,4,5,1,3
26,1,2,2,4,3,2
27,1,1,4,5,3,3
28,4,2,4,5,3,2
29,1,1,2,5,2,3
...,...,...,...,...,...,...
70,1,3,5,5,2,3
71,1,1,2,5,3,3
72,1,3,5,4,1,3
73,3,3,2,5,3,1
74,1,4,4,4,3,2
75,4,1,4,2,1,1
76,1,1,4,5,2,1
77,2,2,5,5,2,3
78,1,1,4,4,1,2
79,1,1,5,4,3,2
80,1,4,3,4,3,3
81,1,2,3,5,3,3
82,1,1,5,5,1,3
83,1,2,3,4,3,2
84,1,3,4,5,3,3
85,1,1,3,4,2,3
86,2,2,4,4,3,3
87,2,2,4,5,2,2
88,1,1,4,4,3,3
89,1,1,3,5,1,2
90,4,4,3,5,1,2
91,2,3,5,5,3,3
92,1,3,2,4,2,2
93,4,1,4,5,2,2
94,1,2,3,4,3,3
95,3,1,4,2,2,2
96,3,2,4,4,3,2
97,1,1,5,4,3,3
98,1,1,3,4,3,3
99,1,3,4,2,1,3

#### Data Preprocessing

###### Missing Values

In [6]:
train_data.isnull().sum()

buying_price         0
maintainence_cost    0
number_of_doors      0
number_of_seats      0
luggage_boot_size    0
safety_rating        0
popularity           0
dtype: int64

In [7]:
test_data.isnull().sum()

buying_price         0
maintainence_cost    0
number_of_doors      0
number_of_seats      0
luggage_boot_size    0
safety_rating        0
dtype: int64

#### We can see there is no missing value.

### Train test split

In [24]:
X= train_data.iloc[0:,0:6]
y= train_data['popularity']
test= test_data

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.20, random_state=0)

### Modeling

#### KNN

In [27]:
clf = KNeighborsClassifier()
parameters = {"n_neighbors": np.arange(1, 31, 2),
               "metric": ["euclidean", "cityblock"],
                "weights": ['distance']}

In [28]:
grid_obj = GridSearchCV(clf, parameters)
grid_obj.fit(X_train,y_train)
grid_fit.best_estimator_

/usr/local/anaconda/lib/python3.7/site-packages/sklearn/model_selection/_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='cityblock',
           metric_params=None, n_jobs=None, n_neighbors=7, p=2,
           weights='distance')

In [29]:
clf = KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='cityblock',
           metric_params=None, n_jobs=None, n_neighbors=7, p=2,
           weights='distance')

In [30]:
clf.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='cityblock',
           metric_params=None, n_jobs=None, n_neighbors=7, p=2,
           weights='distance')

In [34]:
predicted_Popularity=clf.predict(X_test)

In [35]:
clf.score(X_train,y_train)

1.0

In [36]:
clf.score(X_test,y_test)

0.941717791411043

In [37]:
my_submission = pd.DataFrame({'Popularity': predicted_Popularity})

#Cerating seperate data
my_submission.to_csv('submissionKNN.csv', index=False)

#### Logistic Regression

In [40]:
from sklearn.linear_model import LogisticRegression

In [41]:
#model
logisticRegr= LogisticRegression()
logisticRegr.fit(X_train, y_train)

/usr/local/anaconda/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/usr/local/anaconda/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:460: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [42]:
#Predicting
predicted_Popularity = logisticRegr.predict(X_test)

In [43]:
logisticRegr.score(X_train, y_train)

0.8302611367127496

In [44]:
logisticRegr.score(X_test, y_test)

0.8374233128834356

In [45]:
my_submission = pd.DataFrame({'Popularity': predicted_Popularity})

#Cerating seperate data
my_submission.to_csv('submissionLogisticRegression.csv', index=False)

# SVM

In [46]:
from sklearn import svm

In [47]:
#model
my_model = svm.SVC()
my_model.fit(X_train, y_train)

/usr/local/anaconda/lib/python3.7/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [48]:
#Predicting
predicted_Popularity = my_model.predict(X_test)

In [49]:
my_model.score(X_train, y_train)

0.967741935483871

In [50]:
my_model.score(X_test, y_test)

0.941717791411043

In [51]:
my_submission = pd.DataFrame({'Popularity': predicted_Popularity})

#Cerating seperate data
my_submission.to_csv('submissionsvm.csv', index=False)